# System
.DS_Store

# Node
node_modules/
build/
dist/

# Logs
logs/
*.log

# Environment variables
.env
.env.local
.env.development

# IDEs
.vscode/
.idea/
.trae/
.cursor/
.atomcode/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/

